#root {
    max-width: 1400px;
    margin: 3 auto;
    padding: 5rem;
    text-align: center;
    background: #246EB9;
}

header h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #9a3c4d, #f015af);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.logo {
    width: 15rem;
}

.band {
    color: #F5EE9E;
    background-color: #F06543;
}

.image {
    width: 200px;
    border-radius: 25%;
}

.gig {
    width: 400px;
    border: 15px solid #FDFFFC;
    padding: 10px;
    margin: 20px;
    background: #4CB944;
}
